body {
   background-color: turquoise; 
   font-family: 'Montserrat', sans-serif;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

h1 {
   text-align: center;
   color: red;
   margin-bottom: 50px;
   font-family: 'Rammetto One', cursive;
}

#subtext {
   margin-top: 40px;
}